.btn-orange {
  height: 40px;
  width: 120px;
  border-radius: 5%;
  background-color: $button-orange-color;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-family: $paragraph-font;
  }
}

.btn-orange:hover {
  cursor: pointer;
  opacity: 0.85;
}

.btn-orange:active {
  background-color: #fa5300;
  outline: none;
}

.btn-orange:focus {
  outline: none;
}
