.btn-orange {
  height: 40px;
  width: 120px;
  border-radius: 5%;
  background-color: $button-orange-color;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
