.wrapperro {
  height: 120px;
  width: 100%;
  background-color: $background-sections-color;
  border-bottom: 1px solid $background-sections-color;
  display: flex;
  align-items: center;
  justify-content: center;

  .new-date-form {
    display: flex;
    flex-direction: row;
    cursor: pointer;

    #start-date {
      border-right: none;
    }

    .date-wrapper {
      display: flex;
      position: relative;
      cursor: pointer;

      img{
        z-index: 1;
        height: 15px;
        width: 15px;
        position: absolute;
        right: 10%;
        top: 32%;
        visibility: hidden;
        filter: invert(55%) sepia(1%) saturate(0%) hue-rotate(80deg) brightness(92%) contrast(82%);
      }

      input {
        height: 50px;
        display: flex;
        align-items: center;
        background-color: $background-sections-color;
        border: 2px solid $background-basic-color;
        padding-left: 10px;
        cursor: pointer;
        background-color: transparent;
        z-index: 2;
      }

      input[type="date"]::-webkit-calendar-picker-indicator,
      input[type="date"]::-webkit-inner-spin-button {
        opacity: 0.001;
      }
    }
  }

  .new-date-form:hover {
    .date-wrapper {
      img {
        visibility: visible;
      }
    }
  }
}
